# IDE-specific files.
.idea
.vscode
settings.json

# Local builds.
Build
build

# Code hot reload test world.
**/optional/verify_code_hot_reload.rd

# Generated source files that are generated as inputs for preprocessing queue and therefore must be in source tree.
*.generated.c
