# Verify workflow checks that everything can be built and tested without errors.
name: verify

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  verify:
    strategy:
      matrix:
        include:
          - preset: debug_linux_gcc
            os: ubuntu-24.04
            build_type: Debug
            libraries_arch: x64
          - preset: debug_linux_gcc_x32
            os: ubuntu-24.04
            build_type: Debug
            libraries_arch: x32
          - preset: debug_linux_clang
            os: ubuntu-24.04
            build_type: Debug
            libraries_arch: x64
          - preset: sanitize_linux_clang
            os: ubuntu-24.04
            build_type: Debug
            libraries_arch: x64
          - preset: debug_windows_visual_studio_msvc
            os: windows-2022
            build_type: Debug
          - preset: debug_windows_visual_studio_clang
            os: windows-2022
            build_type: Debug
          - preset: release_linux_gcc
            os: ubuntu-24.04
            build_type: Release
            libraries_arch: x64
          - preset: release_linux_gcc_x32
            os: ubuntu-24.04
            build_type: Release
            libraries_arch: x32
          - preset: release_linux_clang
            os: ubuntu-24.04
            build_type: Release
            libraries_arch: x64
          - preset: release_windows_visual_studio_msvc
            os: windows-2022
            build_type: Release
          - preset: release_windows_visual_studio_clang
            os: windows-2022
            build_type: Release

    defaults:
      run:
        shell: pwsh

    env:
      BUILD_DIRECTORY: ${{github.workspace}}/build

    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1

      - name: Install common required libraries (Ubuntu)
        if: matrix.os == 'ubuntu-24.04'
        run: sudo apt-get update && sudo apt-get install ninja-build gcc-multilib g++-multilib

      - name: Install x64 required libraries (Ubuntu)
        if: matrix.os == 'ubuntu-24.04' && matrix.libraries_arch == 'x64'
        run: >
          sudo apt-get update && 
          sudo apt-get install 
          libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxkbcommon-dev

      - name: Install x32 required libraries (Ubuntu)
        if: matrix.os == 'ubuntu-24.04' && matrix.libraries_arch == 'x32'
        run: >
          sudo dpkg --add-architecture i386 &&
          sudo apt-get update && 
          sudo apt-get install 
          libx11-dev:i386 libxext-dev:i386 libxrandr-dev:i386 libxcursor-dev:i386 libxfixes-dev:i386 libxi-dev:i386 
          libxss-dev:i386 libxkbcommon-dev:i386

      - name: Configure
        if: matrix.os != 'windows-2022'
        run: cmake --preset ${{matrix.preset}} -B ${{env.BUILD_DIRECTORY}}

      - name: Configure (force Windows SDK version)
        if: matrix.os == 'windows-2022'
        # We need to manually specify Windows SDK version, otherwise SDL compilation fails as different versions could
        # be used for configuration and for build unless concrete version is specified (GitHub Actions bug).
        run: cmake --preset ${{matrix.preset}} -B ${{env.BUILD_DIRECTORY}} -DCMAKE_SYSTEM_VERSION=10.0.20348.0

      - name: Check format
        working-directory: ${{env.BUILD_DIRECTORY}}
        run: cmake --build . --target kan_clang_format_check --config ${{matrix.build_type}}

      - name: Build
        working-directory: ${{env.BUILD_DIRECTORY}}
        run: cmake --build . --target test_kan --config ${{matrix.build_type}} --parallel 4

      - name: Test
        working-directory: ${{env.BUILD_DIRECTORY}}
        run: ctest --build-config ${{matrix.build_type}} --parallel 4 --timeout 2 -LE GRAPHICS

      - name: Upload test results
        # We upload test results only on failure to avoid clogging everything with them.
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: test_results_${{matrix.preset}}
          path: ${{env.BUILD_DIRECTORY}}/Testing/Temporary
